# Created by .ignore support plugin (hsz.mobi)
/.idea/
/.cpcache/
/resources/public/db/
/resources/public/main.out/
/resources/public/main.js
/resources/public/main-auto-testing.js
/test/data/db/
/.rebel_readline_history
/Short_Domination_Plan.edn
/Tiny Outline.edn
/World_Domination_Plan copy.edn
/Notes and Research/
/projectFilesBackup/
/target/
/clown.iml
/projectFilesBackup1/
/resources/public/test-main.out/
/resources/public/test-main.js
/deps.edn.orig
/#deps.edn#
/old-master-note-layout-code.cjs
