{:deps    {org.clojure/clojure        {:mvn/version "1.10.1"}
           ;; ClojureScript 1.10.597 complains (correctly) about an undeclared
           ;; variable in the figwheel-main source figwheel.repl.cljc
           ;; (See https://github.com/bhauman/figwheel-repl/blob/master/src/figwheel/repl.cljc#L610
           ;; and https://github.com/bhauman/figwheel-repl/issues/10.) Since
           ;; the error does not affect my code and causes a panic attack
           ;; every time I see it, I'm just staying at 1.19.520 until it is fixed.
           org.clojure/clojurescript  {:mvn/version "1.10.520"}
           org.clojure/core.async     {:mvn/version "0.6.532"}
           org.clojure/java.classpath {:mvn/version "0.3.0"}
           org.clojure/java.jdbc      {:mvn/version "0.7.10"}
           com.h2database/h2          {:mvn/version "1.4.200"}
           com.taoensso/timbre        {:mvn/version "4.10.0"}
           compojure                  {:mvn/version "1.6.1"}
           http-kit                   {:mvn/version "2.3.0"}
           reagent                    {:mvn/version "0.8.1"}
           ring/ring-core             {:mvn/version "1.8.0"}
           ring/ring-devel            {:mvn/version "1.8.0"}}

 :paths   ["src" "resources"]

 ;; Aliases for common commands.
 :aliases {;; Get the figwheel  deps used in multiple commands.
           :fig       {:extra-deps  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                     com.bhauman/figwheel-main       {:mvn/version "0.2.3"}}
                       :extra-paths ["target" "test"]}

           ;; Clojure unit testing.
           :test-clj  {:extra-paths ["test"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-565"}}
                       :main-opts   ["-m" "kaocha.runner"]}

           ;; ClojureScript unit testing.
           :test-cljs {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" "clown.client.test-runner"]}

           ;; Clean (erase) all of the output artifacts.
           :clean     {:main-opts ["scripts/clean.clj"]}

           ;; Find out of date dependencies.
           :ancient   {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                       :main-opts  ["-m" "depot.outdated.main" "-a" "ancient"]}

           ;; Start up a development environment.
           :dev       {:main-opts ["scripts/dev.clj"]}

           ;; Start up a development build with a ClojureScript REPL.
           :repl      {:main-opts ["scripts/repl.clj"]}

           ;; Build an uberjar.
           :prod      {:extra-deps {leiningen {:mvn/version "2.9.0"}}
                       :main-opts  ["scripts/prod.clj"]}}}
